.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 740px;
    background-image: url(../../../russian-travel-images/sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    z-index: 0;
    position: relative;
}

.cover__link::before {
    content: "";
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__link:hover::before {
    opacity: 0.8;
    cursor: pointer;
}
@media(max-width: 1024px){
    .cover__link {
        min-height: 640px;
    }
}

@media(max-width: 768px){
    .cover__link {
        min-height: 480px;
    }
}

@media(max-width: 320px){
    .cover__link {
        min-height: 200px;
    }
}