.place__title {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 100%;
    max-width: 460px;
}

@media(max-width: 768px) {
    .place__title {
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
        width: 100%;
        max-width: 330px;
    }

}
@media(max-width: 765px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
