.place__paragraph {
    margin: 0;
    margin-top: 26px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    max-width: 484px;
    width: 100%;
}

@media (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        width: 100%;
        padding-right: 50px;
    }
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 352px;
        padding-right: 0px;
    }
}

@media (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin: 25px 16px 0px;
    }
}

.place__paragraph:first-child {
    margin-top: 0px;
}