.place__paragraph {
    margin: 0;
    margin-top: 26px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    max-width: 484px;
    width: 100%;
}

@media (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        width: 100%;

    }
}

@media (max-width: 940px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 352px;

    }
}

@media (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
    }
}

@media (max-width: 755px) {
    .place__paragraph {
        margin-left: 16px;
        max-width: 288px;
    }
}


@media (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        

    }
}


.place__paragraph:first-child {
    margin-top: 0px;
}