.footer__copyright {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

@media(max-width:320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        max-width: 320px;
        margin: 16px auto 0 0;
    }
    }