.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 12px;
    max-width: fit-content;
}


.place__link:hover {
    cursor: pointer;
}
