.cover__titile {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    width: 100%;
    text-align: center;
    margin: 0px;

}

@media(max-width: 550px){
    .cover__titile {
        font-size: 40px;
        line-height: 45px;
    }
}

@media(max-width: 320px){
    .cover__titile {
        font-size: 32px;
        line-height: 35px;
    }
}