.lead__title {
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
    width: 100%;
    margin: 56px auto 0px;
}

@media (max-width: 695px) {
    .lead__title {
        font-size: 70px;
    }
}
@media (max-width: 508px) {
    .lead__title {
        font-size: 65px;
    }
}

@media (max-width: 473px) {
    .lead__title {
        font-size: 50px;
        line-height: 75px;
    }
}
@media (max-width: 370px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 48px auto 0px;
        max-width: 288px;
    }
}
