.header__lang-links {
    margin: 46px 48px 0px auto;
    display: flex;
}

@media (max-width: 768px) {
    .header__lang-links { 
        margin-right: 24px;
    }
}

@media (max-width: 320px) {
    .header__lang-links {
        margin-right: 16px;
        margin: 30px 16px 0px auto;
    }
}