.place__website {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media(max-width: 765px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }
    }
