.intro__title {
    margin: 0px;
    color: #FFFFFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    width: 100%;
    max-width: 690px;
}

@media (max-width: 765px) {
    .intro__title {
        max-width: 235px;
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}
